@CHARSET "UTF-8";

.icon-race-18
{
	float: left;
	margin-right: 2px;
	width: 18px; height: 18px;
}

.icon-class-18
{
	display: block;
	width: 18px; height: 18px;
	float: left;
	margin-right: 4px;
	background-image: url(../cache/classes-18.jpg);
}

.icon-paladin-18 { background-position: -72px 0; }
.icon-hunter-18 { background-position: -36px 0; }
.icon-rogue-18 { background-position: -18px -18px; }
.icon-druid-18 { background-position: -18px 0; }
.icon-warrior-18 { background-position: -72px -18px; }
.icon-mage-18 { background-position: -54px 0; }
.icon-death-knight-18 { /* No positioning needed */ }
.icon-shaman-18 { background-position: -36px -18px; }
.icon-warlock-18 { background-position: -54px -18px; }
.icon-priest-18 { background-position: 0 -18px; }

.sub_options
{
	display: block;
}

body.js .sub_options_hidden
{
	display: none;
}

.sub_options input
{
    margin-left: 1.4em;
}

td.notes .warning-icon
{
	float: left;
}

td.notes p
{
	padding: 0;
	margin: 0;
	padding-left: 26px;
}
