@CHARSET "UTF-8";

.armory_display img {
	display: inline;
	border: 0 none;
	margin: 0;
	width: 18px;
	height: 18px;
}

img.armory_char_portrait {
	width: 48px;
	height: 48px;
	float: left;
	margin-right: 5px;
}

.armory_char_guild {
	display: block;
}

.armory_char_spec,
.armory_profession_list li {
	display: block;
}

.armory_char_spec img,
.armory_profession_list li img {
	vertical-align: middle;
}

.armory_section  h4 {
	margin-top: 1em;
}

.armory_section  br {
	clear: left;
}

.armory_equip_list {
	list-style: none;
	margin: 0;
}

.armory_profession_badges {
	margin: 0;
}

.armory_equip_list li,
.armory_profession_badges li {
	margin: 0;
	display: inline;
}

.armory_char_spec span a,
.armory_profession_badges li a {
	display: block;
	width: 50%;
	float: left;
}

img.armory_item_icon {
	width: 26px;
	height: 26px;
	margin-bottom: 0.2em;
	margin-right: 0.2em;
}

.armory_achiev_list {
	margin-left: 0;
	padding: 0;
}

.armory_achiev_list li {
	list-style: none;
	margin: 0;
}

.armory_achiev_list li a {
}

.armory_achiev_list li span.points {
	float: right;
	padding-right: 12px;
	background: url(../images/shield.png) no-repeat right center;
}

.armory_feed_list {
	margin-left: 0;
	padding: 0;
}

.armory_feed_list li {
	list-style: none;
}

.armory_feed_list li img {
	float: left;
	margin: 0.3em 0 0 0;
	width: 18px;
	height: 18px;
}

.armory_feed_list li p {
	margin-left: 2em;
}

.armory_feed_list .criteria_step {
	font-weight: bold;
	font-style: italic;
}

.armory_feed_list .timeago {
	font-style: italic;
}

.bar-wrap {
	position: relative;
	border: 1px solid #555;
	padding: 1px;
	width: 100%;
	height: 1.4em;
	background-color: #999;
}

.bar-value {
	height: 1.4em;

	/* http://www.colorzilla.com/gradient-editor/#30ad0d+0,379b0c+48,18840a+51,176608+100;Custom */
	background: #30ad0d; /* Old browsers */
	background: -moz-linear-gradient(top, #30ad0d 0%, #379b0c 48%, #18840a 51%, #176608 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#30ad0d), color-stop(48%,#379b0c), color-stop(51%,#18840a), color-stop(100%,#176608)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #30ad0d 0%,#379b0c 48%,#18840a 51%,#176608 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #30ad0d 0%,#379b0c 48%,#18840a 51%,#176608 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #30ad0d 0%,#379b0c 48%,#18840a 51%,#176608 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ad0d', endColorstr='#176608',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #30ad0d 0%,#379b0c 48%,#18840a 51%,#176608 100%); /* W3C */
}

.bar-text {
	position: absolute;
	top:2px;
	left:0;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	text-align: center;
	width: 100%;
	font-size: 0.9em;
}

.bar-text span {
	background: url(../images/shield.png) no-repeat right center;
	padding-right: 12px;
}
